* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: Alkatra, serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecera {
    background-color: beige;
}

a {
    text-decoration: none;
    text-align: center;
}

fieldset {
    border-color: blue;
}

li{
    display: inline;
}

iframe{
    border-radius: 50%;
    margin: 50px ;
}