* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Alkatra, serif;
    font-size: 20px;

}

p {
    text-shadow: 2px 2px 2px black;
    font-size: 25px;
    color: burlywood;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 35px;
    color: burlywood;
}

h2 {
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 25px;
    color: burlywood;
}

/* navigation */
nav {
    margin: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
}

nav a {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 3px black;
}

nav a:hover {
    color: lightskyblue;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 0 10px 0 10px;
}

/* body */

body {
    background-image: url(/Images/mi_fancy_fondo.jpg);
    /* background-attachment: scroll; */
    /* width: 100vh; */
}

main .mainAside {
    background-color: rgba(255, 255, 255, .6);
    margin: 10px 15px;
    padding: 10px 15px;
    /* width: 100vw; */
}

/* banner */

.banner img {
    width: 15%;
    float: left;
}

.banner h1 {
    text-align: center;
    font-size: 75px;
    color: white;
    padding: 65px 25px;
    text-shadow: 5px 10px 4px black;
    letter-spacing: 5px;
}

.banner h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 5px 5px 2px black;
    letter-spacing: 5px;
}

/* footer */

.foot {
    /* background-image: url(/Images/3856314.jpg); */
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

/*  areas  */

.cont {
    background-color: rgba(255, 255, 255, .8);
    margin: 10px 15px;
    padding: 10px 15px;
    height: 1000px;
}

.cont .boton{
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
    padding: 5px 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cont span{
    color: red;
    font-size: 35px;
}

.cont .boton:hover {
    background-color: lightskyblue;

}

/* form */
.contact_form {
    width: 25%;
}